<!--pagesMenu-->
<style>

  /* Menu 3 starts here */
  #menu3 {
    width: 100%;
    float: left;
    font-weight: normal;
    text-align: left;
    max-height: 400px;
    overflow: auto;
  }

  #menu3 ul
  {
    font-family: cursive,Arial, Helvetica, sans-serif;
    list-style-type: circle;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
  #menu3 li
  {
    display: inline;
    /* for IE5 and IE6 */
  }

  #menu3 li:nth-child(odd) a {
      background-color: #f4f4f4;
  }
  #menu3 li:nth-child(odd):not(.crntPage) a {
    color: #17527b;
    background-color: #267cb933;
  }

  #menu3 a
  {
    /* color: #483000; */
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 14px;
    /* width: 160px; */
    background-color: #f7f7f7;
    border-bottom: 1px solid #6a737d4a;
    padding-left: 25px;
  }

  #menu3 a:link, #menu3 a:visited
  {
    color: #267CB9;
  }

  #menu3 a:hover
  {
    color: #fff6e2 !important;
    background-color: #6a737d !important;
  }

  #menu3 .crntPage a
  {
    border-left: 3px solid #9dd7ff;
    background-color: #444 !important;
    color: #e0e0e0;
    /* font-weight: bold; */
    text-decoration: underline;
    padding-left: 50px;
  }
  /* Menu 3 ends here */

</style>

<style>
  #pages-filter {
    padding: 6px 0px;
    font-size: 24px;
    width: 100%;
    color: #17527b;
    font-weight: bold;
    font-family: monospace;
    margin-left: -2px;
  }

  .circle {
      background-color: #6a737d;
      color: #fff;
      border-radius: 20px;
      display: inline-block;
      font-size: 12px;
      line-height: 1;
      padding: 2px 5px;
      font-weight: 600;
  }

  .crntPage {
    background-color: #c1c1c1;
    color: #171111;
  }

  .crntPage a {
      color: #171111;
  }

  .pMContainer {
      width: 100%;
      height: auto;
  }

  .tblPages { width: 100%; }

  a {
    text-decoration: none;
  }
</style>

<div class="pMContainer">
    <table class="asList1" style="width: 100%; margin-bottom: 3px;">
        <thead>
        <tr asPointer=".tblPages">
            <th style="">Commands <b class="circle" pagescounter>0</b></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td style="text-align: center;">
                <input onfocus="this.select(); listToggleShow().show();" type="text" id="pages-filter" placeholder="Search …" title="Find Command…">
            </td>
        </tr>
        </tbody>

    </table>

    <div id="menu3" listContainer>
      <ul class="tblPages">
      {% for page in site.data.underzpages | sort: 'name'  %}
      <li pagename="{{ page.name }}" asPointer="#">
        <a href="{{ page.url }}">{{ page.name }}</a>
      </li>
      {% endfor %}
      </ul>
    </div>


</div>

<script type="text/javascript">
function listToggleShow(e) {
	var reCount = ()=>{ return _z("[pagescounter]").text( ""+_z("[pagename]:not(.hidden)").length ) };
	return {
		show: (x)=>{ _z(e).remClass("hidden")&&reCount(); return _z(e); },
		hide: (x)=>{ _z(e).addClass("hidden")&&reCount(); return _z(e); },
		reCount: reCount,
	};
};

var pageFilterData = [];
let pageFilterCalc = function() {
    try {
        pageFilterData = _z("[pagename]").attr("pagename");
        var scrolled = false;
        _z("[pagename]").each(function(k, e) {
            // pageFilterData.push(_z(e).attr("pagename"));

            if(scrolled===false) {
                var anchr = _z(e).find("a");

                if( window.location.href.indexOf( anchr.attr("href") ) > -1 ) {
                    scrolled = true;
                    _z("[listContainer]").scrollTo(anchr);
                    _z(e).addClass("crntPage");
                }
            }
        });
    } catch (e) {
        console.warn(e);
        // return ;//setTimeout(pageFilterCalc, 500);
    }
    listToggleShow().reCount();

    if( pageFilterData.length )
        _z("#pages-filter").keyup(function(event) {
            var iTxt = _z("#pages-filter");
            if( iTxt.length < 1 || iTxt.val().trim() === "" ) return listToggleShow(_z("[pagename]")).show();
            var needle = iTxt.val().trim();

            if( needle === "" ) return listToggleShow(_z("[pagename]")).show();

            var result = pageFilterData.filter(k =>(String(k).toLowerCase().indexOf( needle.toLowerCase() ) > -1));

            if(result.length > 0) {
                let wQ = "[pagename='" + result.join("'], [pagename='") + "']";
                listToggleShow(
                    listToggleShow( _z("[pagename]") ).hide().filter(wQ)
                ).show();
            } else listToggleShow(_z("[pagename]")).hide();

        });

    _z("[asPointer]").click(function(e) {
        var asPointer,
            elm = e.currentTarget;

        if( !elm || !!_z(this).attr("asPointerAction") ) return true;

        if( (asPointer=_z(elm).attr("asPointer")) === "" ) return;

        if( asPointer !== "#" )
            _z( asPointer ).toggle();
        else {
            _z(elm).find("a").attr("asPointerAction", "click").trigger("click");
        }
    });


};

_1(pageFilterCalc);
</script>
