<!--pagesMenu-->
<style>
    .circle {
        background-color: #6a737d;
        color: #fff;
        border-radius: 20px;
        display: inline-block;
        font-size: 12px;
        line-height: 1;
        padding: 2px 5px;
        font-weight: 600;
    }

    .crntPage {
        background-color: lightblue;
    }

    .crntPage a {
        color: black;
    }

    .pMContainer {
        width: 100%;
        height: auto;
    }

    .tblPages { width: 100%; }
</style>

<div class="pMContainer">
    <table class="asList1" style="width: 100%; margin-bottom: 3px;">
        <thead>
        <tr asPointer=".tblPages">
            <th style="">Pages <b class="circle" pagescounter>0</b></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td style="text-align: center;">
                <input type="text" id="pages-filter" placeholder="Find a Page…" title="Find a Page…">
            </td>
        </tr>
        </tbody>

    </table>

    <div style="width: 100%; overflow: auto; height: 300px;" listContainer>
        <table class="tblPages">
            <tbody style=" width: 272px;">
            {% for page in site.data.underzpages | sort: 'name'  %}
            <tr style="display: inline-table;width: 100%;" pagename="{{ page.name }}" asPointer="#">
                <td><a href="{{ page.url }}">{{ page.name }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">
function listToggleShow(e) {
	var reCount = ()=>{ return _z("[pagescounter]").text( ""+_z("[pagename]:not(.hidden)").length ) };
	return {
		show: (x)=>{ _z(e).remClass("hidden")&&reCount(); return _z(e); },
		hide: (x)=>{ _z(e).addClass("hidden")&&reCount(); return _z(e); },
		reCount: reCount,
	};
};

var pageFilterData = [];
_1(function() {
	pageFilterData = _z("[pagename]").attr("pagename");
	var scrolled = false;
	_z("[pagename]").each(function(k, e) {
		pageFilterData.push(_z(e).attr("pagename"));
		
		if(scrolled===false) {
			var anchr = _z(e).find("a");
			
			if( window.location.href.indexOf( anchr.attr("href") ) > -1 ) {
				scrolled = true;
				_z("[listContainer]").scrollTo(anchr);
				_z(e).addClass("crntPage");
			}
		}
	});
	listToggleShow().reCount();
	
	if( pageFilterData.length )
	_z("#pages-filter").keyup(function(event) {
		var iTxt = _z("#pages-filter");
		if( iTxt.length < 1 || iTxt.val().trim() == "" ) return listToggleShow(_z("[pagename]")).show();
		var needle = iTxt.val().trim();
		
		if( needle == "" ) return listToggleShow(_z("[pagename]")).show();
		
		var result = pageFilterData.filter((k)=>String(k).toLowerCase().indexOf( needle.toLowerCase() ) != -1);
		
		if(result.length > 0) {
			listToggleShow(
				listToggleShow(
					_z("[pagename]")
						).hide().whereIs("[pagename='" + result.join("'], [pagename='") + "']")
					).show();
		} else listToggleShow(_z("[pagename]")).hide();
	});
	
	_z("[asPointer]").click(function(e) {
		if( !!_z(this).attr("asPointerAction") ) return false;
		
	console.log(e);
		var asPointer;
		if( (asPointer=_z(this).attr("asPointer")) == "" )
			if( (asPointer=_z(this).parent("[asPointer]").attr("asPointer")) == "" ) return;
		
		if( asPointer != "#" )
			_z( _z(this).attr("asPointer") ).toggle();
		else {
			_z(this).attr("asPointerAction", "click");
			_z(this).find("a").click();
			_z(this).remAttr("asPointerAction");
		}
	});

	
});
</script>