name: Jekyll site CI
permissions:
  contents: read

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.1'
        bundler-cache: true
    
    - name: Install Nokogiri Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential patch ruby-dev zlib1g-dev liblzma-dev
    
    - name: Build Jekyll site
      run: |
        bundle install
        bundle exec jekyll build --future
      env:
        JEKYLL_ENV: production
